<!DOCTYPE html>
<html>
<body>
<div class="carrerheading">
    <div>
    <h4> Are Always Hiring! </h4>
    <h5>Find your next job at AreaOnline</h5>
    <p>Remote Opening</p>
    <h5>Team Lead/Consultant-HR Operations</h5>
    <div></div>
    <p>You Will Be Aligned To Our Human Resources Vertical And Will Help Us In The Function That Deals With People And People Related Areas Such 
        As Recruiting, Learning, Training, Onboarding, Compensation And Benefits, Performance Management, Organization Development And Culture.</p>
    
        <div>
        <button class="carrerbutton">View Job Opening</button>
    </div>
</div>


    <p>Andheri West, Mumbai</p>
    <h5>People Advisor Senior Analyst</h5>
    <p>You’ll Benefit From Our Network Of Global Communities And Collaborative Culture That Will Help You Build Technical And Functional Skills And 
        Capabilities. And Because We Serve More Than 40 Industries Globally, You’ll Have The Opportunity To Develop Valuable Industry-Specific 
        Expertise
        </p>
        <button class="carrerbutton">View Job Opening</button>

    <p>Andheri West, Mumbai</p>
    <h5>Sales Representative</h5>   
    <p>AreaOnline is looking for the first sales representative to work towards business development. Join us as the sales representative in the core team 
    and grow within the company as the leader of this department.
    <button class="carrerbutton">View Job Opening</button>

</div>       
</body>
</html> 