
<!DOCTYPE html>
<html>
<body>
<div class="main">

     <h3>Privacy policy</h3>


     <h5>General</h5>

     <ul>
   <li> This Website with the URL of www.areaonline.in ("Website/Site") is operated by Area Online Services India Private Ltd. ("We/Our/Us"). If you choose to use our
    Service,then you agree to the collection and use of information in relation with this policy.
   </li>
    </ul>
     <ul>
      <li>  We collect your personal information in order to provide and continually improve our  products and services and do not use or share this information with
        anyone else except as described in this policy.
      </li>
     </ul>
   <ul>

   <li> We may update our Privacy policy from time to time; thus we advise you to review this page periodically for any changes. These changes are effective
    immediately, after they are posted on this page.
   </li>
   </ul>

    <h5>Contact Us</h5>


    <ul>
    <li>   If you have any concern about privacy or grievances with us, please contact us at info@areaonline.in with a thorough description and we will try to resolve the 
        issue for you.
     </li>
    </ul>




    
</div>

</body>
</html>