
<!DOCTYPE html>
<html>
<body>
<div class="maindisclaimer">

     <h3>Disclaimer</h3>


     

     <p>
        This disclaimer clause is separately displayed here for sake of convenience and brevity. This Disclaimer is a part and parcel of the Terms and Conditions of the Use
        of Website displayed. Anyone accepting the Disclaimer clause is deemed to have read and accepted the Terms and conditions for the Use of Website and vice
        versa.
     </p>
     <p>
       Anyone using, visiting of registering on the Website take Notice that: 
     </p>  
     
     <ul>
      <li>   The information about the Services on our Website www.areaonline.in are provided by AREA ONLINE SERVICES INDIA PRIVATE LIMITED on the basis of the 
       information received from third parties and are on an “as is where is” basis. The management of www.areaonline.in and/or AREA ONLINE SERVICES INDIA
       PRIVATE LIMITED makes no representations or warranties of any kind, express or implied, as to the operation of the Website, the information, content, materials 
       or Services included on this Website. To the full extent permissible by applicable law, the management of www.areaonline.in and/or AREA ONLINE SERVICES 
       INDIA PRIVATE LIMITED Disclaims all warranties, express or implied, including but not limited to, implied warranties of merchantability and fitness for a 
       particular purpose. The management of www.areaonline.in and/or AREA ONLINE SERVICES INDIA PRIVATE LIMITED will not be liable for any risk that you 
       undertake with respect to damages of any kind arising from the use of this Website or any of the Services offered, including but not limited to direct, indirect,
       incidental, punitive and consequential damages. The Website www.areaonline.in only provides the platform for the Services and does not, directly or indirectly, 
       render such Services. Management of www.areaonline.in and/or AREA ONLINE SERVICES INDIA PRIVATE LIMITED expressly disclaims any warranties whether
       express or implied about the suitability, reliability, availability, timeliness, quality, continuity, performance, lack of viruses or other harmful components and 
       accuracy of the information, software, products, services and related graphics contained within the Sites/Services for any purpose. All such information,
       software, products, services and related graphics are provided on “as is basis” without warranty of any kind. The management of www.areaonline.in and/or
       AREA ONLINE SERVICES INDIA PRIVATE LIMITED hereby disclaims all warranties and conditions with regard to this Service, software, products, services and 
       related graphics, including all implied warranties and conditions of merchantability, fitness for a particular purpose, workmanlike effort, title and non-
       infringement. Users specifically agree that the management of www.areaonline.in and/or AREA ONLINE SERVICES INDIA PRIVATE LIMITED shall not be 
       responsible for unauthorized access to or alteration of your transmission/s or data, any material or data sent or received or not sent or received, or any 
       transactions entered into through our Website/Service. User specifically agree that the management of www.areaonline.in and/or AREA ONLINE SERVICES 
       INDIA PRIVATE LIMITED is not responsible or liable for any threatening, defamatory, obscene, offensive or illegal content or conduct of any other user or any 
       infringement of another’s rights, including intellectual property rights. Users specifically agree that the management of www.areaonline.in and/or AREA ONLINE 
       SERVICES INDIA PRIVATE LIMITED is not responsible for any content sent using and/ or included in our website/Service by any third party.
      </li>
      </ul> 
     <ul>
     <li>The User, Visitor, Member agrees to defend, hold harmless and hereby indemnifies, the management of www.areaonline.in and/or AREA ONLINE SERVICES 
       INDIA PRIVATE LIMITED, its employees, Directors, Officers, Agents and their Successors and Assigns from and against any and all claims, liabilities, damages, 
       losses, costs and expenses, including advocates and attorney’s fees, caused by or arising out of claims based upon the use of User’s actions or inactions, 
       including but not limited to any warranties, representations or undertakings or in relation to  the non-fulfillment of  any of its obligations under this Agreement 
       or arising out of the User’s infringement of any applicable laws, regulations including but not limited  to Intellectual Property Rights, payment of statutory dues 
       and taxes, claim of libel, defamation, violation of rights of privacy or publicity, loss of service by other subscribers and infringement of intellectual property or 
       other rights. This clause shall survive the expiry or termination of this Agreement.
     </li>
      </ul>
    




    
</div>

</body>
</html>
