<!DOCTYPE html>
<html>
<body>
<div class="mainlayout">
    <div class="row">
        <div class="col-sm-6 .hair-img img ">
            <img src="\assets\Image\Frame 4272.png" style="width: 100%;">

        </div>
        <div class="col-sm-6 ">
            <h4>Hair Colouring</h4>
            <h4 class="subheading">Hair Look Unisex Salon . Service
            </h4>
            <div class="col-md-6">  5.0  31 Ratings 
            </div>
            <div class="row">
                <div class="col-sm-1"><span style="text-decoration:line-through;">₹3,000</span></div>
                <div class="col-sm-2">₹ 1,500</div>
                <div class="col-sm-9">50% off</div>
            </div>
            <button type="button" class="btn btn-dark">Add to Cart</button>
            <div class="col-md-12">
                <div class="col-md-10">  <h6>Product Description</h6>  </div> 
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nam tincidunt at consectetur venenatis. Faucibus ac ac suspendisse pellentesque. Felis, ultricies diam eros, tempus sollicitudin.
                    Cras ac a pulvinar iaculis libero mauris dui...View More</p>   
            </div>
        </div>
    </div>
</div>
</body>
</html>