
<!DOCTYPE html>
<html>
<body>
<div class="main">

     <h3>About Us</h3>


     <h5>area Online</h5>

     <ul>
      <li>  Save Retailer Save Economy: Area online is a boon to retailer and a small business man. Online business platform for entrepreneurs, small business owners and 
        starts ups. It is easily accessible through website and mobile application (Android)
      </li>
      </ul>
      <ul>
    <li> The company provide social media links, digital page (with editing rights to the customers) payment gateway at lowest annual subscription and One lakh free 
        accident insurance. 
    </li>
     </ul>  
     
     

    <h5>Benifits Of Area Online</h5>

     <ul>
     <li>An opportunity to expand your business at Pan-India Level.
     </li>
     </ul>
     <ul>
     <li>  Online recognition and Brand name helps in getting more business.
     </li>
     </ul>
     <ul>
      <li> It is easily accessible through website and mobile application (Android)
      </li>
     </ul>


       <ul>
       <li> The company provides social media links, digital page, (with editing rights to the customers) payment gateway at lowest annual subscription and One lakh free 
        accident insurance.
       </li>
       </ul>
       <ul>
        <li>Digital Support to bring market your products online.
        </li>
       </ul>    
     




    
</div>

</body>
</html>
