
<!DOCTYPE html>
<html>
<body>
    <div>
    <div class="mainfinalresultpadding">
        <div class="mainoutofstock">
            <h5>Searched products: “Out of Stock”</h5>
            <h5>Showing Results in “mumbai”</h5>
                <div class="mainoutofstockimage">
                    <img src = "\assets\Image\3298065-01 1.png">
                </div>
                <div>
                    <h5>Please try another search</h5>
                </div>
                <button class="mainoutofstockbutton">View Similar Products</button>
            </div>
        </div>
    </div>
    
</body>
</html>    


