<!DOCTYPE html>
<html>
<body>
    <div>
    <div class="mainnosearchfound">
        <div class="noresultpadding">No Results For: “Food Items”</div>
        <div class="showresultpadding">Showing Results in “mumbai”</div>
    
    <div class="mainnosearchimage">
                <img src = "\assets\Image\3544857 1 (1).png">
            </div>
        <div class="showpadding">Please try another search</div>
        <button class="mainnosearchbutton">View Similar Products</button>
    </div>
    </div>
</body>
</html>    
