
<!DOCTYPE html>
<html>
<body>
<div class="main">
   
     <h3>Terms & Conditions For Use</h3>

     <ul>
      <li> ANYONE USING THIS WEBSITE SHALL BE DEEMED TO HAVE READ THIS AGREEMENT AND UNDERSTOOD IT AND BY FURTHER CLICKING ON THE 
        APPROPRIATE DIGITAL BUTTON HAS ACCEPTED TO USE THIS WEBSITE AND THE SERVICE/S AND PRODUCTS OFFERED UNDER IT STRICTLY ACCORDING 
        TO TERMS AND CONDITIONS SET OUT 
      </li>
      </ul>


     <h5>General</h5>

      <ul>
    <li>This Agreement sets out the legally binding terms for your use of this website and governs the terms and conditions of your membership.
    </li> 
    </ul>

      <ul>
    <li>This Agreement may be modified by AREA ONLINE SERVICES INDIA PRIVATE LIMITED. who is the owner and manager of the Website www.areaonline.in and its 
        contents from time to time, effective upon notice to you as a Visitor, Guest, User and/or Member.
    </li>
      </ul>

      <ul>
      <li>  If you wish to become a Member and communicate with other Members and make use of the Products and Services offered by www.areaonline.in “Service”, 
        read these “Terms and Conditions” of Use and follow the instructions for the Registration process as guided by the Site.  We reiterate that If you visit or sign up 
        with www.areaonline.in it is presumed and understood that you fully accept and are bound by all these Terms and Conditions.
      </li>
      </ul>


     <h5>Applicable Law</h5>

     <ul>
    <li> This site is created and controlled by AREA ONLINE SERVICES INDIA PRIVATE LIMITED. which is a company registered under provisions of Indian Companies 
      Act 1956 and now governed by the Companies Act 2013 having its registered address in the Indian State of Maharashtra; the use of the website 
      www.areaonline.in shall be governed by the laws, rules and regulation including Cyber Laws prevalent and in force in India and as such the general laws in force 
      in India shall apply.  The courts, tribunals, judiciary and/or quasi judiciary authorities which are subordinate to the Honourable High Court at Bombay India shall 
      alone have jurisdiction over the matters.
    </li>  
     </ul>

     <ul>
    <li>  In case a Dispute is referred to the Arbitration; the Arbitration shall be by Sole Arbitrator who shall be appointed by mutual consent or appointed by the 
      Honourable High Court at Bombay under the provisions of Arbitration and Conciliation Act 1996 amended till date. The Seat of Arbitration shall be Mumbai, 
      Maharashtra and language of Arbitration shall be “English” (Even if there are submissions made in a language different from English the English translation/s 
      shall prevail). All laws of contract/s and Commerce shall be subject to the provisions of the Indian Laws and shall be interpreted accordingly. This shall be 
      applicable even if, for the sake of convenience, the seat of Arbitration is outside India. The above-mentioned AREA ONLINE SERVICES INDIA PRIVATE LIMITED and 
      www.areaonline.in in respect of all the terms, conditions and Disclaimers reserves the right to make changes to the site and the terms, conditions and 
      disclaimers thereof.  
    </li>
    </ul>
     
     <h5>Law Governing membership</h5>

     <p>
      The Membership is deemed to have been entered into at Mumbai, Maharashtra, India and provisions of the laws of India, in force, will govern the Membership 
      rights and liabilities. All disputes arising out of or in any way affecting the Membership as also including interpretation of any of the terms shall be referred to 
      Arbitration consisting of a Sole Arbitrator in appointed either by Mutual Consent or by Honourable High Court at Bombay under the provisions of the Arbitration & 
      Conciliation Act 1996 – amended up to the date. This shall be applicable even if the Seat of Arbitration is choosing, for sake of convenience, outside India. The 
      Seat normally shall be in Mumbai, Maharashtra India and Language of Arbitration shall be English (Even if there are submissions made in a language different from 
      English the English translation/s shall prevail).
     </p>

     <h5>Eligibility</h5>

     <p>
      You Represent, Warrant and Declare that you are competent and eligible to enter into a legally binding agreement as per the Indian Contract Act 1872 and have the 
      requisite authority to bind the Entity, Institution, Company, Registered/Unregistered AOP, Registered/Unregistered Society, Trust and/or the Firm, as the case may 
      be, who seeks to use the Product/s and/or the Service/s of this Website to this Agreement. You shall not use these Product/s and/or Service/s if you are not 
      competent to contract under the applicable Indian Laws, Rules and Regulations. By registering on www.areaonline.in you explicitly understand this and further also 
      agree that;
     </p>
     <p>
      your age on the date of Registration or Use of the Site should be above 18 years. If you are a minor; i.e. under the age of 18 years, you may use www.areaonline.in 
      only with the involvement of a parent or guardian.
     </p>
     <ul>
    <li>  You are not disabled by any law from entering into a contract;
      </li>
     </ul>
     <ul>
    <li> you have gone through the “Terms and Conditions” and agree to be bound by them.
    </li>
    </ul>





    </div>

</body>
</html>